<main>
  <section id="content"></section>
</main>
  <div id="player_container">
    <div id="player"></div>
  <!--   <div id="player_controls">
    <div id="play_icon"></div>
    <div id="pause_icon"></div>
    <span id="current_time"></span>
    <span id="vid_length"></span>
  </div> -->
  </div>
  <div id="seperator"></div>

<!--   <div id="more_videos_container">
    <p>סרטונים קשורים</p>
    <div id="more_content"></div>
  </div> -->

<div id="controls"></div>

<script type="text/handlebars-x" id="vid_thumb_partial" type="partial">
<div class="wrapper">
    <figure
    data-vid_id={{id}}>
      <img src="{{img}}" alt="{{description}}">
      <figcaption
        {{#if (isHebrew title)}}
          style="direction: rtl"
        {{/if}}>
        {{{shortenTitle title}}}
      </figcaption>
    </figure>
  </div>
</script>

<script type="text/handlebars-x" id="thumbnails_template">
  {{#each vids}}
    {{> vid_thumb_partial}}
  {{/each}}
</script>

<script type="text/handlebars-x" id="search_header_template">
  <p style="direction: rtl;">מציג תוצאות עבור:</p><span id="query">{{title}}</span>
</script>

<script type="text/handlebars-x" id="playlist_header_template">
  <img src="{{snippet.thumbnails.medium.url}}" alt="{{snippet.description}}">
  <p 
    {{#if (isHebrew snippet.title)}}
      style="direction: rtl"
    {{/if}}>
  {{snippet.title}}</p>
</script>

<script type="text/handlebars-x" id="channel_header_template">
  <img src="{{snippet.thumbnails.medium.url}}" alt="{{snippet.description}}">
  <h1 
    {{#if (isHebrew snippet.title)}}
      style="direction: rtl"
    {{/if}}>
  {{snippet.title}}</h1>
</script>

<script type="text/handlebars-x" id="related_vids_header_template">
  <img src="{{snippet.thumbnails.medium.url}}" alt="{{snippet.description}}">
  <span id="query" 
    {{#if (isHebrew snippet.title)}}
      style="direction: rtl"
    {{/if}}
  >{{snippet.title}}</span><p style="direction: rtl">סרטונים קשורים:</p>
</script>

<script type="var" id="user_id"><%= @user_id %></script>

<script type="text/javascript" src="javascripts/temp_data.js"></script>

<script type="text/javascript" src="javascripts/youtube_script.js"></script>

<script type="text/javascript" src="javascripts/results.js"></script>

