<% content_for :header_content_center do %>
  <p>תוצאות עבור: <span id="query"></span></p>
<% end %>

<% content_for :header_content_left do %>
  <div id="ga_button" class="active">
    <p>בחירה בהשהייה <span>מופעלת</span></p>
  </div>
<% end %>

<main>
  <section id="content"></section>

  <section>
    <div id="player_container">
      <div id="player"></div>
    </div>
    <div id="seperator"></div>
  </section>

  <section>
    <div id="settings_modal_layer"></div>
    <div id="settings"></div>
  </section>
</main>

<script type="text/handlebars=x" id="vid_thumb_partial" type="partial">
<div class="wrapper">
    <figure
    data-vid_id={{id.videoId}}>
      <img src="{{snippet.thumbnails.high.url}}">
      <figcaption
        {{#if (isHebrew snippet.title)}}
          style="direction: rtl"
        {{/if}}>
        {{{shortenTitle snippet.title}}}
      </figcaption>
    </figure>
  </div>
</script>

<script type="text/handlebars=x" id="thumbnails_template">
  {{#each vids}}
    {{> vid_thumb_partial}}
  {{/each}}
</script>

<script type="text/javascript" src="javascripts/temp_data.js"></script>

<script type="text/javascript" src="javascripts/youtube_script.js"></script>

<script type="text/javascript" src="javascripts/results.js"></script>

