<!DOCTYPE html>
<html>
<head>
  <title>חיפוש</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="javascripts/search.js"></script>
</head>
<body>
  <header>
    <div id="logo"></div>
    <form action="/results" method="get">
      <fieldset>
        <input type="submit" id="search_submit" value=""><!--
     --><input type="text" name="q" placeholder="חיפוש" id="search_bar">
      </fieldset>
    </form>
  </header>
</body>
</html>