<main>
  <% content_for :header_content_center do %>
    <h1 style="direction: rtl">מתחבר ליוטיוב...</h1>
  <% end %>
</main>

<script type="var" id="client_id"><%= @client_id %></script>
<script type="var" id="code"><%= @code %></script>
<script type="var" id="client_secret"><%= @client_secret %></script>
<script src="javascripts/yt_connect.js"></script>
