
<main>
  <fieldset>
    <input type="submit" value="התחבר ליוטיוב" id="authorize-button">
    <input type="submit" value="התנתק מיוטיוב" id="signout-button">
  </fieldset>
</main>



<script src="javascripts/yt_connect.js"></script>
<script async defer src="https://apis.google.com/js/api.js" 
        onload="this.onload=function(){};handleClientLoad()" 
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>